@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.page {
  background-color: cyan;
}
